<%- include('../layout/header') %>
<main class="flex-column">
    <section class="bookSec">
        <img src="<%= selected_book.image_url%>" alt="">
        <form action="/books/<%=selected_book.id%>" method="POST">
            <input type="hidden" name="_method" value="PUT">
            <input type="text" value="<%= selected_book.title%>" name="title">
            <input type="text" value="<%= selected_book.author%>" name="author">
            <input type="text" value="<%= selected_book.isbn%>" name="isbn">
            <input type="text" value="<%= selected_book.image_url%>" name="image_url">
            <textarea name="description"><%= selected_book.description%></textarea>
            <input type="text" list="bookshelf" name="bookshelf" id="browser" value="<%= selected_book.bookshelf%>">
            <datalist id="bookshelf">
                <% bookshelf.forEach( item => { %>
                    <option value="<%= item.bookshelf %>">
                <% }) %>
            </datalist>
            <input type="submit" class="btn btn-black" value="Update Details">
        </form>
    </section>
</main>
<%- include('../layout/footer') %>