<%- include('../partials/header') %>
<main>
    <div id="mainWraper">
        <% booksResult.forEach (book => {  %>
        <section class="bookSec">
            <img class="bookCover" src="<%= book.image_url %>" alt="">
            <h2 class="bookTitle"><%= book.title %></h2>
            <p class="bookAuthor"><%= book.author %></p>
            <p class="desc"><%= book.description.substring(0, 100) %></p>
        </section>
        <% }) %>
    </div>
</main>
<%- include('../partials/footer') %>