<%- include('../layout/header') %>
<main>
    <div id="mainWraper">
        <% booksResult.forEach (book => {  %>
        <section class="bookSec">
            <form action="/books" method="POST">
                <img class="bookCover" src="<%= book.image_url %>" alt="">
                <input type="hidden" name="image_url" value="<%= book.image_url %>">
                <h2 class="bookTitle"><%= book.title %></h2>
                <input type="hidden" name="title" value="<%= book.title %>">
                <p class="bookAuthor"><%= book.author %></p>
                <input type="hidden" name="author" value="<%= book.author %>">
                <input type="hidden" name="isbn" value="<%= book.isbn %>">
                <p class="desc"><%= book.description.substring(0, 100) %></p>
                <input type="hidden" name="description" value="<%= book.description %>">
                <button type="submit">Add to shelf</bsutton>
            </form>
        </section>
        <% }) %>
    </div>
</main>
<%- include('../layout/footer') %>